

// .d3-container {
//     justify-content: center;
//     align-items: center;
//     display: flex;
//     margin: auto;
// }

.d3-container {
    margin: 0 auto;
}

.downloadButton {
    float: right;
    margin-right: 10%;
    background-color: white;
    border: gray 1px solid;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}

